<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="~/images/bg.png" />

@model IEnumerable<Sistema.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h2>Categoria Cursos</h2>

<p>
    
    <a asp-action="Create"><input type="submit" class="btn btn-primary" name="Nuevo" value="Nuevo"></a>
</p>
<form  asp-action="Index" method="get">

    <div class="form-actions no-color">
        
        <p>

            Filtro:<input  type="text" name ="searchString" value="@ViewData["CurrentFilter"]"/>
                   <input type="submit"  class="btn btn-success" value="Buscar" />
        </p>
    </div>


</form>
<table class="table">
    <thead>
        <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NombreSorparm"]">  @Html.DisplayNameFor(model => model.Nombre)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DescripcionSortParm"]">   @Html.DisplayNameFor(model => model.Descripcion)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody >
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoriaID"><input type="submit" name="name" value="Editar " class="btn btn-info" /></a>
                <a asp-action="Details" asp-route-id="@item.CategoriaID"> <input type="submit" name="name" value="Detalles " class="btn btn-secondary" /></a>
                <a asp-action="Delete" asp-route-id="@item.CategoriaID"> <input type="submit" name="name" value="Eliminar" class="btn btn-danger" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
